<!DOCTYPE html>
<html>

<head>
    <title>Facebook Account Manager</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.css">
</head>

<body>
    <div class="user-info">
        {% if current_user.is_authenticated %}
        <p>Xin chào, {{ current_user.username }}! (<a href="{{ url_for('logout') }}">Logout</a>)</p>
        {% else %}
        <p>Bạn chưa đăng nhập.</p>
        {% endif %}
    </div>
    <h1><a href="/" class="home-link">ONLINE TOOL</a> > <a href="/facebook" class="facebook-link">FACEBOOK</a> > QUẢN LÝ
        TÀI KHOẢN</h1>

    {% if accounts %}
    <div class="account-table">
        <table>
            <thead>
                <tr>
                    <th>Tên Tài khoản</th>
                    <th>Token</th>
                    <th>Cookie</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td title="{{ account.account_name }}">
                        {{ account.account_name|truncate(20, true, '...') }}
                    </td>
                    <td title="{{ account.account_token }}">
                        {{ account.account_token|truncate(20, true, '...') }}
                        <span class="copy" onclick="copyText('{{ account.account_token}}')">📋</span>
                    </td>
                    <td title="{{ account.account_cookie }}">
                        {{ account.account_cookie|truncate(20, true, '...') }}
                        <span class="copy" onclick="copyText('{{ account.account_cookie}}')">📋</span>
                    </td>
                    <td>
                        <button
                            onclick="openEditModal({ 'sk': '{{ account.sk }}','account_name': '{{ account.account_name }}', 'account_token': '{{ account.account_token }}', 'account_cookie': '{{ account.account_cookie }}' })">Sửa</button>
                        <button onclick="openDeleteConfirmModal('{{ account.sk }}')">Xoá</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>Chưa có tài khoản nào.</p>
    {% endif %}

    <!-- Button mở Form Thêm Tài khoản -->
    <button id="add-button" onclick="openAddModal()">Thêm Tài khoản</button>

    <!-- Modal Sửa Tài khoản -->
    <div id="edit-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeEditModal()">&times;</span>
            <h2>Sửa Tài khoản</h2>
            <label for="edit-account-name">Tên Tài khoản:</label>
            <input type="text" id="edit-account-name">
            <label for="edit-account-token">Token:</label>
            <input type="text" id="edit-account-token">
            <label for="edit-account-cookie">Cookie:</label>
            <input type="text" id="edit-account-cookie">
            <button data-account-id="" id="edit-save-btn" onclick="saveEdit()">Lưu</button>
        </div>
    </div>

    <!-- Modal Thêm Tài khoản -->
    <div id="add-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddModal()">&times;</span>
            <h2>Thêm Tài khoản</h2>
            <label for="new-account-name">Tên Tài khoản:</label>
            <input type="text" id="new-account-name">
            <label for="new-account-token">Token:</label>
            <input type="text" id="new-account-token">
            <label for="new-account-cookie">Cookie:</label>
            <input type="text" id="new-account-cookie">
            <button onclick="addNewAccount()">Lưu</button>
        </div>
    </div>

    <!-- Modal Xoá Tài khoản -->
    <div id="delete-confirm-modal" class="modal">
        <div class="modal-content">
            <h2>Bạn có chắc chắn muốn xóa tài khoản này?</h2>
            <button data-account-id="" id="delete-confirm-yes" onclick="deleteAccountConfirmed()">Có</button>
            <button style="margin-top: 10px;" onclick="closeDeleteConfirmModal()">Không</button>
        </div>
    </div>

    <script>
        function openEditModal(account) {
            const myButton = document.getElementById('edit-save-btn');
            myButton.setAttribute('data-account-id', account.sk);

            // Lấy thẻ modal "Sửa Tài khoản"
            const editModal = document.getElementById('edit-modal');

            // Lấy các trường nhập dữ liệu trong modal
            const editAccountName = document.getElementById('edit-account-name');
            const editAccountToken = document.getElementById('edit-account-token');
            const editAccountCookie = document.getElementById('edit-account-cookie');

            // Đưa thông tin tài khoản cần chỉnh sửa vào các trường nhập dữ liệu
            editAccountName.value = account.account_name;
            editAccountToken.value = account.account_token;
            editAccountCookie.value = account.account_cookie;

            // Hiển thị modal bằng cách đặt thuộc tính style.display thành 'block'
            editModal.style.display = 'block';
        }

        function closeEditModal() {
            document.getElementById('edit-modal').style.display = 'none';
        }

        function openAddModal() {
            document.getElementById('add-modal').style.display = 'block';
        }

        function closeAddModal() {
            document.getElementById('add-modal').style.display = 'none';
        }

        function openDeleteConfirmModal(accountId) {
            document.getElementById('delete-confirm-yes').setAttribute('data-account-id', accountId);
            document.getElementById('delete-confirm-modal').style.display = 'block';
        }

        function closeDeleteConfirmModal() {
            document.getElementById('delete-confirm-modal').style.display = 'none';
        }

        function addNewAccount() {
            const accountName = document.getElementById('new-account-name').value;
            const accountToken = document.getElementById('new-account-token').value;
            const accountCookie = document.getElementById('new-account-cookie').value;

            if (accountName && accountToken && accountCookie) {
                closeAddModal()
                // Gửi thông tin tài khoản mới đến máy chủ
                fetch('/facebook/accountmanager/add_account', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        account_name: accountName,
                        account_token: accountToken,
                        account_cookie: accountCookie
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        // Kiểm tra kết quả và xử lý tương ứng
                        if (data.success) {
                            // Đã thêm thành công
                            Toastify({
                                text: 'Tài khoản đã được thêm thành công.',
                                duration: 3000,  // Thời gian hiển thị (3 giây)
                                close: true,
                                gravity: 'top',  // Vị trí hiển thị
                                position: 'center',  // Vị trí toast
                            }).showToast();

                            // Đợi 2 giây trước khi làm mới trang
                            setTimeout(() => {
                                window.location.reload();
                            }, 1000);
                        } else {
                            // Xử lý lỗi (nếu có)
                            Toastify({
                                text: `Đã xảy ra lỗi khi cập nhật tài khoản: ${data.error}`,
                                duration: 3000,
                                close: true,
                                gravity: 'top',
                                position: 'center',
                            }).showToast();
                        }
                    })
                    .catch(error => {
                        console.error('Lỗi:', error);
                        Toastify({
                            text: 'Đã xảy ra lỗi khi thêm tài khoản.',
                            duration: 3000,
                            close: true,
                            gravity: 'top',
                            position: 'center',
                        }).showToast();
                    });
            } else {
                Toastify({
                    text: 'Vui lòng điền đầy đủ thông tin tài khoản.',
                    duration: 3000,
                    close: true,
                    gravity: 'top',
                    position: 'center',
                }).showToast();
            }
        }

        function saveEdit() {
            const accountId = document.getElementById('edit-save-btn').getAttribute('data-account-id');
            const accountName = document.getElementById('edit-account-name').value;
            const accountToken = document.getElementById('edit-account-token').value;
            const accountCookie = document.getElementById('edit-account-cookie').value;

            if (accountName && accountToken && accountCookie) {

                closeEditModal()
                // Gửi thông tin cập nhật tài khoản đến máy chủ
                fetch(`/facebook/accountmanager/update_account`, {
                    method: 'PUT', // Hoặc 'PATCH' nếu bạn muốn sử dụng phương thức PATCH
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        id: accountId,
                        account_name: accountName,
                        account_token: accountToken,
                        account_cookie: accountCookie
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        // Kiểm tra kết quả và xử lý tương ứng
                        if (data.success) {
                            // Đã cập nhật thành công
                            Toastify({
                                text: 'Tài khoản đã được cập nhật thành công.',
                                duration: 3000,  // Thời gian hiển thị (3 giây)
                                close: true,
                                gravity: 'top',  // Vị trí hiển thị
                                position: 'center',  // Vị trí toast
                            }).showToast();

                            // Đợi 2 giây trước khi làm mới trang (hoặc thực hiện các hành động khác)
                            setTimeout(() => {
                                window.location.reload();
                            }, 1000);
                        } else {
                            // Xử lý lỗi (nếu có)
                            Toastify({
                                text: `Đã xảy ra lỗi khi cập nhật tài khoản: ${data.error}`,
                                duration: 3000,
                                close: true,
                                gravity: 'top',
                                position: 'center',
                            }).showToast();
                        }
                    })
                    .catch(error => {
                        console.error('Lỗi:', error);
                        Toastify({
                            text: 'Đã xảy ra lỗi khi cập nhật tài khoản.',
                            duration: 3000,
                            close: true,
                            gravity: 'top',
                            position: 'center',
                        }).showToast();
                    });
            } else {
                Toastify({
                    text: 'Vui lòng điền đầy đủ thông tin tài khoản.',
                    duration: 3000,
                    close: true,
                    gravity: 'top',
                    position: 'center',
                }).showToast();
            }
        }

        function deleteAccountConfirmed() {
            const accountId = document.getElementById('delete-confirm-yes').getAttribute('data-account-id');

            closeDeleteConfirmModal()

            fetch(`/facebook/accountmanager/delete_account/${accountId}`, {
                method: 'DELETE'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Xóa thành công
                        Toastify({
                            text: 'Tài khoản đã được xoá thành công.',
                            duration: 3000,  // Thời gian hiển thị (3 giây)
                            close: true,
                            gravity: 'top',  // Vị trí hiển thị
                            position: 'center',  // Vị trí toast
                        }).showToast();

                        // Đợi 2 giây trước khi làm mới trang
                        setTimeout(() => {
                            window.location.reload();
                        }, 1000);
                    } else {
                        console.error('Lỗi:', error);
                        Toastify({
                            text: `Đã xảy ra lỗi khi cập nhật tài khoản: ${data.error}`,
                            duration: 3000,
                            close: true,
                            gravity: 'top',
                            position: 'center',
                        }).showToast();
                    }
                })
                .catch(error => {
                    console.error('Lỗi:', error);
                    Toastify({
                        text: 'Đã xảy ra lỗi khi xoá tài khoản.',
                        duration: 3000,
                        close: true,
                        gravity: 'top',
                        position: 'center',
                    }).showToast();
                });
        }

        function copyText(content) {
            const textArea = document.createElement("textarea");
            textArea.value = content;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand('copy');
            document.body.removeChild(textArea);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>

</html>