<!DOCTYPE html>
<html>

<head>
    <title>Facebook Check New Post</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.css">
</head>

<body>
    <div class="user-info">
        {% if current_user.is_authenticated %}
        <p>Xin chào, {{ current_user.username }}! (<a href="{{ url_for('logout') }}">Logout</a>)</p>
        {% else %}
        <p>Bạn chưa đăng nhập.</p>
        {% endif %}
    </div>
    <h1><a href="/" class="home-link">ONLINE TOOL</a> > <a href="/facebook" class="facebook-link">FACEBOOK</a> > THÔNG
        BÁO BÀI VIẾT MỚI</h1>

    {% if schedules %}
    <div class="schedule-table">
        <table>
            <thead>
                <tr>
                    <th>Tên Tài khoản</th>
                    <th>Token</th>
                    <th>Cookie</th>
                    <th>Group ID</th>
                    <th>Tần số quét</th>
                    <th>Trạng Thái</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in schedules %}
                <tr>
                    <td title="{{ schedule.account_name }}">
                        {{ schedule.account_name|truncate(20, true, '...') }}
                    </td>
                    <td title="{{ schedule.account_token }}">
                        {% if schedule.account_token|length > 0 %}
                        {{ schedule.account_token|truncate(20, true, '...') }}
                        <span class="copy" onclick="copyText('{{ schedule.account_token}}')">📋</span>
                        {% endif %}
                    </td>
                    <td title="{{ schedule.account_cookie }}">
                        {% if schedule.account_cookie|length > 0 %}
                        {{ schedule.account_cookie|truncate(20, true, '...') }}
                        <span class="copy" onclick="copyText('{{ schedule.account_cookie}}')">📋</span>
                        {% endif %}
                    </td>
                    <td title="{{ schedule.group_id }}">
                        {{ schedule.group_id|truncate(20, true, '...') }}
                    </td>
                    <td title="{{ schedule.interval }}">
                        {{ schedule.interval }} (giây)
                    </td>
                    <td title="{{ schedule.active }}" id="schedule-toggle-{{ schedule.sk }}">
                        <label class="toggle-switch">
                            <input type="checkbox" {% if schedule.active %}checked{% endif %}
                                onclick="toggleSchedule('{{ schedule.sk }}')">
                            <span class="toggle-slider"></span>
                        </label>
                    </td>
                    <td>
                        <button onclick="openStartConfirmModal('{{ schedule.sk }}')">Bắt đầu</button>
                        <button onclick="openDeleteConfirmModal('{{ schedule.sk }}')">Xoá</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>Chưa có nhiệm vụ nào.</p>
    {% endif %}

    <!-- Button mở Form Thêm Tài khoản -->
    <button id="add-button" onclick="openAddModal()">Thêm Nhiệm vụ</button>

    <!-- Modal Thêm Tài khoản -->
    <div id="add-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddModal()">&times;</span>
            <h2>Thêm Nhiệm vụ</h2>
            <label for="account-select">Chọn Tài khoản:</label>
            <select id="account-select"></select>
            <label for="group-id">Group ID:</label>
            <input type="text" id="group-id">
            <label for="interval">Tần số quét (giây):</label>
            <input type="text" id="interval">
            <button onclick="addNewSchedule()">Lưu</button>
        </div>
    </div>

    <!-- Modal Xoá Tài khoản -->
    <div id="delete-confirm-modal" class="modal">
        <div class="modal-content">
            <h2>Bạn có chắc chắn muốn xóa nhiệm vụ này?</h2>
            <button data-schedule-id="" id="delete-confirm-yes" onclick="deleteScheduleConfirmed()">Có</button>
            <button style="margin-top: 10px;" onclick="closeDeleteConfirmModal()">Không</button>
        </div>
    </div>

    <!-- Modal Start Schedule -->
    <div id="start-confirm-modal" class="modal">
        <div class="modal-content">
            <h2>Bạn có chắc chắn muốn bắt đầu nhiệm vụ này?</h2>
            <button data-schedule-id="" id="start-confirm-yes" onclick="startScheduleConfirmed()">Có</button>
            <button style="margin-top: 10px;" onclick="closeStartConfirmModal()">Không</button>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch('/facebook/accountmanager/get_owner_facebook_accounts')
                .then(response => response.json())
                .then(data => {
                    const accountSelect = document.getElementById("account-select");

                    // Lặp qua danh sách tài khoản và thêm mỗi tài khoản vào select
                    data.forEach(account => {
                        const option = document.createElement("option");
                        option.value = account.sk;
                        option.text = account.account_name;

                        accountSelect.appendChild(option);
                    });
                })
                .catch(error => console.error("Lỗi khi tải danh sách tài khoản:", error));
        });

        function openAddModal() {
            document.getElementById('add-modal').style.display = 'block';
        }

        function closeAddModal() {
            document.getElementById('add-modal').style.display = 'none';
        }

        function openDeleteConfirmModal(scheduleId) {
            document.getElementById('delete-confirm-yes').setAttribute('data-schedule-id', scheduleId);
            document.getElementById('delete-confirm-modal').style.display = 'block';
        }

        function closeDeleteConfirmModal() {
            document.getElementById('delete-confirm-modal').style.display = 'none';
        }

        function openStartConfirmModal(scheduleId) {
            document.getElementById('start-confirm-yes').setAttribute('data-schedule-id', scheduleId);
            document.getElementById('start-confirm-modal').style.display = 'block';
        }

        function closeStartConfirmModal() {
            document.getElementById('start-confirm-modal').style.display = 'none';
        }

        function addNewSchedule() {
            const accountId = document.getElementById('account-select').value;
            const groupId = document.getElementById('group-id').value;
            const interval = document.getElementById('interval').value;

            if (accountId && groupId) {
                closeAddModal()
                // Gửi thông tin tài khoản mới đến máy chủ
                fetch('/facebook/checknewpost/add_schedule', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        account_id: accountId,
                        group_id: groupId,
                        interval: interval
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        // Kiểm tra kết quả và xử lý tương ứng
                        if (data.success) {
                            // Đã thêm thành công
                            Toastify({
                                text: 'Nhiệm vụ đã được thêm thành công.',
                                duration: 3000,  // Thời gian hiển thị (3 giây)
                                close: true,
                                gravity: 'top',  // Vị trí hiển thị
                                position: 'center',  // Vị trí toast
                            }).showToast();

                            // Đợi 2 giây trước khi làm mới trang
                            setTimeout(() => {
                                window.location.reload();
                            }, 1000);
                        } else {
                            // Xử lý lỗi (nếu có)
                            Toastify({
                                text: `Đã xảy ra lỗi khi thêm nhiệm vụ: ${data.error}`,
                                duration: 3000,
                                close: true,
                                gravity: 'top',
                                position: 'center',
                            }).showToast();
                        }
                    })
                    .catch(error => {
                        console.error('Lỗi:', error);
                        Toastify({
                            text: 'Đã xảy ra lỗi khi thêm nhiệm vụ.',
                            duration: 3000,
                            close: true,
                            gravity: 'top',
                            position: 'center',
                        }).showToast();
                    });
            } else {
                Toastify({
                    text: 'Vui lòng điền đầy đủ thông tin nhiệm vụ.',
                    duration: 3000,
                    close: true,
                    gravity: 'top',
                    position: 'center',
                }).showToast();
            }
        }

        function deleteScheduleConfirmed() {
            const scheduleId = document.getElementById('delete-confirm-yes').getAttribute('data-schedule-id');

            closeDeleteConfirmModal()

            fetch(`/facebook/checknewpost/delete_schedule/${scheduleId}`, {
                method: 'DELETE'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Xóa thành công
                        Toastify({
                            text: 'Đã xoá nhiệm vụ.',
                            duration: 3000,  // Thời gian hiển thị (3 giây)
                            close: true,
                            gravity: 'top',  // Vị trí hiển thị
                            position: 'center',  // Vị trí toast
                        }).showToast();

                        // Đợi 2 giây trước khi làm mới trang
                        setTimeout(() => {
                            window.location.reload();
                        }, 1000);
                    } else {
                        console.error('Lỗi:', error);
                        Toastify({
                            text: `Đã xảy ra lỗi khi xoá nhiệm vụ: ${data.error}`,
                            duration: 3000,
                            close: true,
                            gravity: 'top',
                            position: 'center',
                        }).showToast();
                    }
                })
                .catch(error => {
                    console.error('Lỗi:', error);
                    Toastify({
                        text: 'Đã xảy ra lỗi khi xoá nhiệm vụ.',
                        duration: 3000,
                        close: true,
                        gravity: 'top',
                        position: 'center',
                    }).showToast();
                });
        }

        function startScheduleConfirmed() {
            const scheduleId = document.getElementById('start-confirm-yes').getAttribute('data-schedule-id');

            closeStartConfirmModal()

            fetch(`/facebook/checknewpost/start_schedule`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    scheduleId: scheduleId
                })
            })
        }


        function toggleSchedule(scheduleId) {
            // Lấy trạng thái hiện tại của toggle switch
            const checkbox = document.getElementById(`schedule-toggle-${scheduleId}`).querySelector('input[type="checkbox"]');
            const isActive = checkbox.checked;

            const newStatus = isActive;

            fetch('/facebook/checknewpost/toggle_schedule', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ newStatus: newStatus, scheduleId: scheduleId }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // Xử lý phản hồi từ máy chủ (nếu cần)
                    console.log('Update successful:', data);
                })
                .catch(error => {
                    // Xử lý lỗi (nếu có)
                    console.error('Update failed:', error);
                });
        }


        function copyText(content) {
            const textArea = document.createElement("textarea");
            textArea.value = content;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand('copy');
            document.body.removeChild(textArea);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>

</html>