<!DOCTYPE html>
<html>

<head>
    <title>Facebook Get Cookie</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<body>
    <h1><a href="/" class="home-link">ONLINE TOOL</a> > <a href="/facebook" class="facebook-link">FACEBOOK</a> > LẤY
        COOKIE</h1>
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="button" id="startButton">Lấy cookie</button>
    </form>
</body>

</html>