<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<body>
    <h1>ĐĂNG NHẬP</h1>
    <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit" value="login" id="startButton">Đăng nhập</button>
    </form>
</body>

</html>